.App {
    min-height: 100vh;
    position: relative;
    background-color: #76c4db;
}



/* Ensures each word on new line */
.cat-app-title {
    word-spacing: 100vw;
}

.header {
    background-color: #282c34;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.footer {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 16px;
}